body{
    background-color: #040D12;
    color:#F5E8C7;
    
}

.page1,
.page2,.page3, .page4{
    height:650px;
}

.page1 > h1{
    font-size: 180px;
    text-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
}

.page1 > h3{
    font-size: 60px;
    background: linear-gradient(to right, #30CFD0, #c43ad6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page1 > h5{
    background-image: linear-gradient(to right, rgb(1 134 218), rgb(182 49 167));
    border: 0;
    color: rgba(var(--text-color));
    padding:5px;
    border-radius: 5px;
}

.page1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page2 > h3{
    padding:20px;
    font-size: 38px;
}

.page2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    align-items: center;
    gap:10px;
}
.page2 > h3{
    font-size: 60px;
    background: linear-gradient(to right, #30CFD0, #c43ad6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.page3 > h3{
    font-size: 50px;
    background: linear-gradient(to right, #30CFD0, #c43ad6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding:20px;
}
.page4 >h3{
    font-size: 50px;
    background: linear-gradient(to right, #30CFD0, #c43ad6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding:20px;
}
.glassContainer{
    background: rgba( 255, 255, 255, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    overflow-y:scroll;
    width:90%;
    height:500px;
    gap:15px;
    display: flex;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.glassContainer::-webkit-scrollbar{
    display: none;
}

.glassItem{
    width:100px;
    display: flex;
    flex-direction: column;
}
.glassItem:hover{
    z-index: 99;
    
}
.cardContainer > p{
    font-size: 20px;
}
.cardContainer{
    display: flex;
    color:#3A4D39;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    gap:15px;
    width:150px;
    height:100px;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
}

.otherApps{
    width:150px;
    height:150px;
}

.otherApps:hover{
    width:180px;
    height:180px;
}

.itemImg2{
    width:130px;
    height:130px;
    object-fit: contain;
    border-radius: 10px;
}

.itemImg2:hover{
    width:160px;
    height:160px;
}


.btn{
    width:100%;
   
}
.cardContainer:hover{
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
    border-radius: 8px;
    border: 4px solid transparent;
}
/* -------------------- Pages -----------------------*/
nav > a{
    font-size: 40px;
    color:#F5E8C7;
    text-decoration: none;
    text-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
}
 a > h1{
    padding:10px;
 }

 a > h1:hover{
    background: linear-gradient(to right, #30CFD0, #c43ad6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }

nav > a:hover{
    color:#F5E8C7;
    text-decoration: none;
}

.pageTitles{
    padding:5px;
    text-align: center;
    font-size: 48px;
    background: linear-gradient(to right, #30CFD0, #c43ad6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.itemContainer{
    margin-top: 1%;
    height:600px;
    display: flex;
    align-content: center;
    align-self: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    
    justify-content: center;
   
}

.itemContainer > a:hover{
    z-index: 99;
}
.innerItemContainer{
    border: none;
    flex-wrap: wrap;justify-content: center;
    display: flex; gap:30px;
}
.itemContainer::-webkit-scrollbar{
    display: none;
}
.innerItemContainer > a:hover{
    z-index: 99;
}
.itemImg{
    width:120px;
    height:80px;
    border-radius: 8px;
    object-fit:contain;
}
@media screen and (min-width: 1900px) {
    /* Your CSS rules for 27-inch screens go here */
    
    .page1,
    .page2,
    .page3,
    .page4{
        height:1000px;
    }

    .page1 > h1{
        font-size: 200px;
        
    }

    .page1 > h3{
        font-size: 80px;
    }

    .page2 > h3{
        font-size: 58px;
    }

    .cardContainer{
        display: flex;
        align-content: center;
        align-self: center;
        align-items: center;
        justify-content: center;
        gap:100px;
        width:150px;
        height:150px;
      
    }
    .btn{
        width:100%;
       
    }
    .itemImg{
        width:120px;
        height:100px;
        border-radius: 8px;
    }
    .itemContainer{
        height:800px;
        width:100%;
        display: flex;
        align-content: center;
        align-self: center;
        align-items: center;
    
    }

  }
  